<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
 <h2>Update</h2>
	 <form method = 'post'>{%csrf_token%}
		{%for field in update_form %}
		 <p>
			{{field.label_tag}}
			{{field}}
		 </p><br>
		{% endfor %}
		{% if field.help_text %}
			 <small style ="color:grey"> {{field.help_text}} </small>
		{% endif %}

		{% for error in field.errors %}
			 <small style ="color:red"> {{error}} </small>
		{% endfor %}

		{% if update_form.non_field.errors %}
			 <small style="color: red"> {{update_form.non_field.error}} </small>
		{% endif %}
		
		<button type="submit">Update</button>
	 

</body>
</html>

	 